{% extends 'layout.twig' %}

{% block body %}

	<header class="sofermat__header">

		<nav class="sofermat__navbar">
			<figure class="navbar__logo">
				<h1 class="sr-only">Sofermat</h1>
				<img src="images/sofermat.png" alt="Sofermat logo"/>
			</figure>

			<ul class="navbar__items">
				<li class="navbar__item">
					<a href="{{base_url}}">Présentation</a>
				</li>
				<li class="navbar__item">
					<a href="{{base_url}}/#">Nos Activités</a>
				</li>
				<li class="navbar__item">
					<a href="{{base_url}}/#">Contact</a>
				</li>
				<li class="navbar__item">
					<a href="{{base_url}}/#"><img src="images/location.png" alt="Location Icon"/></a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<figure class="sofermat__hero">
				<img src="images/hero.png"/>

				<div class="white__sail">
					<figure>
						<img src="images/sofermat.png">
					</figure>
				</div>
			</figure>
		</section>

		<section class="sofermat__section sofermat__about">
			<h2>Qui Sommes-Nous ?</h2>
			<p>L’entreprise SOFERMAT est présente à La Bâthie, près d'Albertville et dans le département de la Savoie depuis 1973.</p>
			<p>C’est une entreprise artisanale familiale qui intervient principalement dans les domaines du terrassement et des travaux publics, mais aussi dans celui du transport routier.</p>
			<p>Nous sommes au service des particuliers, des collectivités locales, des centrales hydroélectriques, des constructeurs immobiliers, des grandes entreprises . Notre société intervient au niveau de la réalisation de tous les travaux de terrassement, de voiries et de réseaux, de la réalisation de lotissement, de la petite maçonnerie, mais également pour effectuer tous les transports de matériaux ainsi que les travaux de déneigements.</p>
			<p>C'est une équipe de quatre à cinq personnes expérimentées à l’année et du matériel à la pointe de la technologie, pelles mécaniques, cribles, camion, laser double pente...</p>
			<p>Depuis plusieurs années notre entreprise s’engage dans une démarche écologique pour le recyclage des matériaux de ses chantiers. En effet tous les déchets inertes des chantiers sont rapatriés sur notre site de recyclage sur la commune de La Bathie afin d’être concassés, criblés, puis réutilisés sur d’autres chantiers.</p>
		</section>


		<section class="sofermat__section section__full">
			<h2>Nos domaines d’activités</h2>

			<ul class="sofermat__activities">
				<li class="activity">
					<figure class="activity__image">
						<img src="images/a0.jpg" alt="??">
					</figure>

					<div class="activity__body">
						<h3 class="activity__title">COnstruction de réseaux enterrés</h3>
						<p class="activity__content">Réseaux secs<br/>
							Réseaux humides<br/>
							(AEP / EU / EP)</p>
					</div>
				</li>
				<li class="activity">
					<figure class="activity__image">
						<img src="images/a1.jpg" alt="??">
					</figure>

					<div class="activity__body">
						<h3 class="activity__title">terrassement et vrd</h3>
						<p class="activity__content">Maison d'habitation<br/>
							Gros terrassement<br/>
							Plate-forme<br/>
							Création de piscine et plan d'eau<br/>
							Création d’enrochement brut<br/>
							Petits travaux de maçonnerie</p>
					</div>
				</li>
				<li class="activity">
					<figure class="activity__image">
						<img src="images/a2.jpg" alt="??">
					</figure>

					<div class="activity__body">
						<h3 class="activity__title">Assainissement</h3>
						<p class="activity__content">Tous types d’assainissements autonomes: filtre à sable, filtre coco<br/>
							Raccordement au tout à l’égout<br/>
							Mise aux normes et réfection des assainissements<br/>
							Drainage</p>
					</div>
				</li>
				<li class="activity">
					<figure class="activity__image">
						<img src="images/a3.png" alt="??">
					</figure>

					<div class="activity__body">
						<h3 class="activity__title">Déneigement</h3>
						<p class="activity__content">Déneigement et salage de:<br/>
							Routes<br/>
							Parking<br/>
							Pistes<br/></p>
					</div>
				</li>
				<li class="activity">
					<figure class="activity__image">
						<img src="images/a4.png" alt="??">
					</figure>

					<div class="activity__body">
						<h3 class="activity__title">démolition</h3>
						<p class="activity__content">Travaux de démolition<br/>
							Travaux de déconstruction</p>

             <p class="activity__note">Dans le respect des normes et dans un souci de développement durable.</p> 
					</div>
				</li>
				<li class="activity">
					<figure class="activity__image">
						<img src="images/a5.jpg" alt="??">
					</figure>

					<div class="activity__body">
						<h3 class="activity__title">transport et location de matériel</h3>
						<p class="activity__content">Convois exceptionnels<br/>
							Transports publics de marchandises<br/>
							Livraison de matériaux</p>
					</div>
				</li>
			</ul>
		</section>


	</main>

  <footer>
    <p>© SARL SOFERMAT | 1973 - 2023</p>
    <p><a href="#">Mentions légales</a> | <a href="#">Politique d’utilisation</a> | <a href="#">Politique de confidentialité</a></p>
  </footer>
{% endblock %}
